$def with (form, text, logo)
 
<!doctype html>
<html>
	<head>
	<meta name="robots" content="noindex">
	<title>The Blockchain Bay</title>
	<link rel="stylesheet" href="/res/tpb.css" type="text/css" />
        <script type="text/javascript" src="/res/jquery.js"></script>
        <script type="text/javascript">
                                jQuery(document).ready(function() {
                                jQuery(".button").click(function() {
                                        var input_string = $$("input#textfield").val();
                                        jQuery.ajax({
                                                type: "POST",
                                                data: {textfield : input_string},
                                                success: function(data) {
                                                jQuery('#foo').html(data).hide().fadeIn(1500);
                                                },
                                                });
                                        return false;
                                        });
                                });
                        </script>
	<style> pre {font-family: "Courier New", Courier, monospace; }</style>
    	</head>
    <body>
   	<center>    
		<h2><pre> $logo </pre></h2>
        	<br>
        	<form class="form" method="post"> Torrent search:
        	$:form.render()
        	<input class="button" type="submit" value="send"/>    
        	</form>
 
        	<br><br>
		<div class="browse">
			<section class="col-center">
				<span id="foo">$text</span> 
			</section>
		</div>
	</center>
    </body>
     
</html>
